<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.open.shein.mapper.OmsSheinShopCategoryMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.module.open.shein.domain.OmsSheinShopCategory">
            <id property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="children" column="children" jdbcType="VARCHAR"/>
            <result property="lastCategory" column="last_category" jdbcType="VARCHAR"/>
            <result property="parentCategoryId" column="parent_category_id" jdbcType="BIGINT"/>
            <result property="productTypeId" column="product_type_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
        <result property="oCategoryId" column="oms_category_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name,children,
        last_category,parent_category_id,product_type_id,
        create_time,update_time,shop_id,oms_category_id
    </sql>
</mapper>
